@tailwind base;
@tailwind components;
@tailwind utilities;

/* global.css */

/* Import the Nunito Sans font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
@layer base {
  /* Root variables based on the designer's colors */
  :root {
    --dark-blue-elements: hsl(209, 23%, 22%);
    --very-dark-blue-bg: hsl(207, 26%, 17%);
    --very-dark-blue-text: hsl(200, 15%, 8%);
    --dark-gray-input: hsl(0, 0%, 52%);
    --very-light-gray-bg: hsl(0, 0%, 93%);
    --white-text: hsl(0, 0%, 100%);
  }

  /* Apply the global font */
  body {
    font-family: "Nunito Sans", sans-serif;
  }

  /* Base styles */
  body,
  html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .custom-select {
    -webkit-appearance: none; /* For Safari */
    -moz-appearance: none; /* For Firefox */
    appearance: none; /* Standard */
  }
}
